@import url('./_fonts.scss');

* {
    box-sizing: border-box;
}

body {
    background: #111119;
    color: #fff;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}


a {
    color: #fff;
    text-decoration: none;
    transition: .3s ease;

    &.text-link {
        &:hover {
            color: #C84AFF;
        }
    }

    &.blue {
        color: $ltBlue;
    }
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}