@import url('./_fonts.scss');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background: #111119;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


a {
    color: #fff;
    text-decoration: none;
    transition: .3s ease;

    &.text-link {
        &:hover {
            color: #C84AFF;
        }
    }

    &.blue {
        color: $ltBlue;
    }
}

.container {
    max-width: 1240px;
    margin: 0 auto;

    @include lg {
        max-width: 1120px;
    }

    @include slg {
        max-width: 980px;
    }

    @include md {
        max-width: 800px;
    }

    @include sm {
        max-width: 100%;
        width: 100%;
        padding: 0 20px;
    }

    @include xsm {
        padding: 0 12px;
    }
}

.btn {
    display: inline-block;
    font-size: $pDef;
    padding: 14px 22px;
    font-weight: 500;
    border-radius: 12px;
    line-height: 150%;

    @include sm {
        font-size: $sm_pDef;
        padding: 12px 18px;
        border-radius: 10px;
    }

    &_gradient {
        backdrop-filter: blur(30px);
        background: linear-gradient(84.58deg, #559CFF 0%, #9E20FE 100%);
    }

}

.title {
    font-family: 'WhyteInktrap';
    margin: 0;

    &_h2 {
        line-height: 110%;
        font-size: $tMd;
        font-weight: 500;
        margin-bottom: 24px;

        @include slg {
            font-size: $md_tMd;
            margin-bottom: 16px;
        }

        @include sm {
            font-size: $sm_tMd;
        }
    }

    &_sub {
        font-size: $tSmd;
        font-weight: 500;

        @include sm {
            font-size: $sm_tSmd;
        }
    }

    &_hero {
        font-size: $tLg;

        @include slg {
            font-size: $md_tLg;
        }

        @include sm {
            font-size: $sm_tLg;
        }
    }

}

.paragraph {
    line-height: 150%;

    &_medium {
        font-size: $pDef;

        @include slg {
            font-size: $md_pDef;
        }

        @include sm {
            font-size: $sm_pDef;
        }
    }

    &_large {
        font-weight: 500;
        font-size: $pLg;

        @include sm {
            font-size: $sm_pLg;
        }
    }

    &_small {
        font-size: $pSm;

        @include sm {
            font-size: $sm_pSm;
        }
    }
}

.row {
    display: flex;

    &.jcsb {
        justify-content: space-between;
    }
}

.column {
    &_large {
        width: 800px;
        flex-shrink: 0;

        @include md {
            width: 600px;
        }

        @include sm {
            width: 100%;
        }
    }

    &_medium {
        width: 600px;
        flex-shrink: 0;
    }
}

.color {
    &_blue {
        color: $ltBlue;
    }
}

.block {
    margin-bottom: 180px;

    @include slg {
        margin-bottom: 140px;
    }

    @include sm {
        margin-bottom: 100px;
    }
}

.margin {
    &_large {
        margin-bottom: 48px;

        @include slg {
            margin-bottom: 32px;
        }

        @include sm {
            margin-bottom: 24px;
        }
    }

    &_medium {
        margin-bottom: 24px;

        @include slg {
            margin-bottom: 16px;
        }

        @include sm {
            margin-bottom: 8px;
        }
    }

    &_xmedium {
        margin-bottom: 18px;
    }

    &_small {
        margin-bottom: 12px;
    }
}

.text-gradient {
    &_purple-blue {
        background: linear-gradient(90deg, #B000FD 16.25%, #30DAFF 90%);
    }

    &_blue-purple {
        background: linear-gradient(90deg, #30DAFF -20.25%, #B000FD 50%);
    }
}


.tag {
    font-size: $pSm;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #34343a;
    backdrop-filter: blur(30px);
    border-radius: 8px;
    padding: 9px 12px;
}

.date {
    color: #E5E5E5;
    opacity: 0.5;
}